<div class="topics">
  <div class="topics__header">
    <h2>Events</h2>
  </div>
  <ul class="topics__list">
    <li>
      <a href="{% url 'erv-home' %}" class="active"
        >All <span>{{rooster.count}}</span></a
      >
      {% comment %} {% for cc in roostergedeelte %}
      <tr>
        <td>{{cc.pub_date}}</td>
        <td>{{cc.flexhost}}</td>

        <td>
          {% for t in cc.lid.all %} {% if forloop.counter0 < regels %} {{ t.name
          }}<br />
          {% endif %} {% endfor %}
        </td>
        {% endfor %} {% endcomment %}
      </tr>
    </li>

    {% for tt in rooster %}
    <li>
      <a href="{% url 'erv-home' %}?q={{tt.name}}"
        >{{tt.event_text}}<span>{{tt.pub_date}}</span></a
      >
    </li>
    {% endfor %}
  </ul>
  <a class="btn btn--link" href="{% url 'erv-topics' %}">
    More
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
    >
      <title>chevron-down</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
</div>
