{% extends 'erv-base.html' %}
{% block content %}
<main class="layout layout--3">
  {% comment %} 5 okt 2022 {% endcomment %}
<div class="container">

  <form action="{% url 'vote' event.id %}" method="post">
  {% csrf_token %}
    <div class="phone">
      <div class="phone-mirror">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>Terug</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <h3>
            FlexEvent {{room.created}} --selecteer leden voor deelname
          </h3>
        </div>

        <table class="datum-table">
          <thead>
            <hr>
            <tr>
              <th>#</th>
              <th>Aanmeldingen op: {{event.created|date:"d M Y"}}</th>
              <th><input type="submit" value="Meld Af "> </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td>{% for aa in aanwezig %}
              <tr>
            </td>
            <td>{{t.id }}</td>
            <td></td>
            <td>{{aa.id}}. {{aa.name}}</td>
            <td>
              <input type="checkbox" name="afmelding" id="host{{ forloop.counter }}" value="{{ aa.id }}">
            </td>
            <td> </td>
            <!-- <td>
              <input type="checkbox" name="hoofdhost" id="host{{ forloop.counter }}" value="{{ aa.id }}">
            </td> -->
            </td>

            {% endfor %}
            </tr>
          </tbody>
        </table>
        <table class='person-table'>
          <thead>
            <hr>
            limit to max 20 regels(aangemeld+kandidaten=flexibel; limiteer tot 20)

            <tr>
              <th> <input id="search-input" name="zoeknaam" class="form-control" type="text" placeholder='@vind kandidaat'></th>
              <th><input type="submit" value="Meld Aan"> </th>
              <th>Vind Kandidaten uit ( {{personen.count}}) voor {{event.created|date:"d M Y"}}</th>
          </thead>
          </tr>

          <tbody id=myTable>
            <td>{% for t in kandidaten %}
            </td>
            <tr>
              <td> 
                {{t}}

              </td>
              <td>{{ forloop.counter }}. {{t.name}}</td>
              <td> <input type="checkbox" name="aanmelding" id="host{{ forloop.counter }}" value="{{ t.id }}"> </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% block javascript %}
<script>
  // function fetchBeatrixData() {
  //   fetch("http://127.0.0.1:8000/api/aantalregels")
  //     .then(response => {
  //       return response.json();
  //     })
  //     .then(regels => {
  //       console.log(regels.data);
  //     })}
  // fetchBeatrixData();

    // $('#search-input').on('keyup', function () {
    //   var value = $(this).val()
    //   console.log('Value:', value)
    //   var data = searchTable(value, myArray)
    //   console.log(data)
    //   buildTable(data)
    // })
    // $.ajax({
    //   method: 'GET',
    //   url: 'http://127.0.0.1:8000/api/person/',
    //   success: function (response) {
    //     myArray = response
    //     buildTable(myArray)
    //     console.log(myArray)

    //   }
    // })

    // function searchTable(value, data) {
    //   var filteredData = []
    //   for (var i = 0; i < data.length; i++) {
    //     value = value.toLowerCase()
    //     var name = data[i].name.toLowerCase()
    //     if (name.includes(value)) {
    //       filteredData.push(data[i])
    //     }
    //   }
    //   return filteredData
    // }

    // function buildTable(data) {

    //   var table = document.getElementById('myTable')
    //   table.innerHTML = ``
    //   // let lengte = data.length;
    //   let lengte=5;
    //   for (var i = 0; i < lengte; i++) {
    //     var row = `<tr> 
    //   <td></td>
    // <td> ${data[i].id} </td> 
    // <td> ${data[i].name} </td> 
    // <td> <input type="checkbox" name="aanmelding" id="host{{ forloop.counter }}" value="${data[i].id}"> </td>
    // </tr>`
    //     table.innerHTML += row
    //   }
    // }

</script>
{% endblock javascript %}
</div>
</div>
<!-- </div> -->
</div>
</main>
{% endblock %}