{% extends 'erv-base.html' %}
{% block content %}
<main class="layout layout--3">
  <div class="container">

<form>
  {% csrf_token %}
  <div class="outer">
    <div class="phone">
      <!-- <h5>erv-aanmeldview</h5> -->
      <div class="phone-mirror">
        <li><a href="/" class="btn btn-warning btn-sm">Home</a></li>
        <table class="beatrix-table">
          <thead>
            <tr>
              <th>Selecteer een geplande datum {{event.created|date:"d M Y"}}     <a href="/" class="fa fa-home fa-2x" ></a></th>
            </tr>
          </thead>
          <tbody>
            <td>{% for rr in rooster %}
              <tr>
            </td>
            <td><a href="{% url 'vote' rr.id %}">{{rr.created|date:"d D M Y"}}</a>{{rr.event_text}}
            <a href="{% url 'erv-room' rr.id %}"></a>            </td>

            {% endfor %}
            </tr>
          </tbody>

        </table>

        <div class="roomListRoom__content">
          <div class="mobile-menuItems">

            <!-- <h5>erv-aanmeldview</h5> -->

            <!-- <ul>
              {% for h in rooster %}
              <li> {{h.id}} </li>
              <a href="{% url 'vote' h.id %}">{{h.created|date:"d D M Y"}}</a>{{h.event_text}}
              <a href="{% url 'erv-room' h.id %}"></a>
              {% endfor %}
            </ul> -->

</form>
</div>
</div>
</div>
</div>
</div>
</main>
{% endblock %}