{% extends 'erv-base.html' %} {% block content %}
<main class="layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'erv-home' %}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
    <h3>Reeds aangemeld:</h3>
        </div>
      </div>

      <div class="activities-page layout__body">
  <div>
    Deelnemers aan:
    <ul>
      {% for room in events %}
      <li>
        {{room}} :{{room.created|date:"d D M Y"}} :  {{room.lid.count}} 
      </li>
      {% endfor %}
    </ul>
    {% if sc1 %}
    <!-- <h3>pos1 | pos2 | pos3 | slag | stuur</h3> -->
    <ul>
      <hr>
      <li>|sc1: {{sc1.pos1.count}} |sc2: {{sc2.count}}|st2: {{st2.count}} </li>
      <li>|sc1: {{sc1.count}}  </li>
      <li>|sc2: {{sc2.count}} </li>
      <li>|st2: {{st2.count}} </li>
      {% endif %}
    </ul>
    {% if deelnemers %}
    <h3>boeg | pos2 | pos3 | slag | stuur</h3>
    {% endif %}
    <ul>
      <hr>
      <a
      >{% for t in sc1 %}
        <!-- <li>{{ forloop.counter }} |{{t.name}} | {{t.pos1}} | {{t.pos2}} | {{t.pos3}} | {{t.pos4}} | {{t.pos5}}</li> -->
        <hr />
        {% endfor %}</a
      >
    </ul>
  </div>

  </div>

  <div class="activities__header">
  </div>
  
  <div class="activities__header">
  </div>
 {% for message in room_messages %}
  <div class="activities__box">
    <div class="activities__boxHeader roomListRoom__header">
      <a
        href="{% url 'erv-user-profile' message.user.id %}"
        class="roomListRoom__author"
      >
        <div class="avatar avatar--small">
          <img src="{{message.user.avatar.url}}" />
        </div>
        <p>
          @{{message.user.username}}
          <span>{{message.created|timesince}} geleden</span>
        </p>
      </a>

      <div class="roomListRoom__actions">
        <a href="{% url 'erv-delete-message' message.id %}">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <title>verwijder</title>
            <path
              d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="erv-activities__boxContent">
      <p>
        reacties op: “<a href="{% url 'erv-room' message.event.id %}"
        >{{message.room}}</a
        >”
      </p>
      <div class="activities__boxRoomContent">{{message.body}}</div>
    </div>
  </div>
  {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock content %}
