{% extends 'erv-base.html' %}
 {% block content %}
<main class="outer">
    {% comment %} 5 okt 2022 {% endcomment %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="/">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>Terug</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <h3>
            Bewerk FlexEvent {{room.datum}}
          </h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group">
            <label for="room_slot">Datum (yyyy,mm,dd)</label
              type="date"
                name="datum"
                value="{{room.datum|date:'Y-M-D'}}"
                
                >
            {{form.datum}}
          </div>
          <div class="form__group">
            <label for="room_slot">Tijd</label
              type="time"
                name="pub_time"
                value="{{room.pub_time}}"
                
                >
            {{form.pub_time}}
          </div>



          </div>
          <div class="form__group">
            <label for="room_topic">Onderwerp</label>
            <input
              required
              type="text"
              value="{{room.topic}}"
              name="topic"
              id="room_topic"
            />
                <option value="{{topic.name}}">{{topic.name}}</option>
          </div>

<!-- 
          <div class="form__group">
            <label for="room_topic">Topic</label>
            <input
              required
              type="text"
              value="{{room.topic}}"
              name="topic"
              id="room_topic"
              list="topic-list"
            />
            <datalist id="topic-list">
              <select id="room_topic">
                {% for topic in topics %}
                <option value="">Selecteer Onderwerp</option>
                <option value="{{topic.name}}">{{topic.name}}</option>
                {% endfor %}
              </select>
            </datalist>
          </div> -->
          
          <div class="form__group">
            <label for="room_name">Flex Event</label>
            {{form.name}}
          </div>

          <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}"
              >Cancel</a
            >
            <button class="btn btn--main" type="submit">Bevestig</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
