{% extends 'base.html' %}
{% block content %}
{% comment %} {% load static %} {% endcomment %}
{% comment %} {% csrf_token %} {% endcomment %}
<div class="mobile">
  <div class="phone">
     <div class="phone-mirror">
<table class="beatrix-table">
  <thead>
    <tr>
      <th> <a href="/" class="fa fa-home fa-2x" ></a></th>
      {% comment %} <th> <a href="{% url 'person:person_changelist' %}" class="btn btn-warning btn-sm" >Aanmelden</a></th> {% endcomment %}
      {% comment %} <th><a href="{% url 'kalender:rooster' %}" class="fa fa-list fa-2x"  ></a></th> {% endcomment %}
      {% comment %} <th><a href="{% url 'ploeg:hoofdhost' %}" class="fa fa-user fa-2x"  ></a></th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <a> meld je aan en klik de oranje button als je al wilt aanmelden 
           voordeel is dat we sneller op het water zijn
          </a>
    </tr>
  </tbody>
</table>

<div class="card card-body">
    <input id="search-input" class="form-control" type="text">
</div>
           
            <form action="{% url 'ploeg:assign' flexevent.id %}" method="post">
                <input type="submit" value="Aanmelden/Afmelden">
                {% comment %} <div class="content-table"></div> {% endcomment %}
                <table class="beatrix-table">
              <thead>
                <tr>
                  <th>#</th>
                  {% comment %} <th><input class="search-input" placeholder="Naam@" type="text"></th> {% endcomment %}
                  <th>Selectie</th>
                  <th>Bij / Af </th>
                </tr>
              </thead>
                    <tbody id ="Deelnemers">
                        <td>{% for t in event.lid.all %}
                            <tr>
                        </td>
                        <td>
                        <td> {{ forloop.counter }}. {{t.name}}</td>
                        <td>
                            <input type="checkbox" name="afmelding" id="host{{ forloop.counter }}" value="{{ t.id }}">
                        </td>
                        </td>

                        {% endfor %}
                        </tr>
                    </tbody>

                </table>
                <table class='beatrix-table'>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Naam</th>
                  <th>Selectie</th>
                  <th>Bij / Af </th>
                </tr>
              </thead>

                    <tbody id = Kandidaten>
                        <td>{% for t in deelnemers %}<tr> </td>
                        <td> <td> {{ forloop.counter }}. {{t.name}}</td>
                        <td>  <input type="checkbox" name="host" id="host{{ forloop.counter }}" value="{{ t.id }}">  </td> </td>
                        {% endfor %}
                        </tr>
                    </tbody>

                </table>
                </div>
</div>
</div>

            </form>
{% block javascript %}
<script>

var myArray=[]
// $('th').on('click',function(){
    //console.log('klik')
//})

$('#search-input').on('keyup',function(){
    var value = $(this).val()
     console.log('Value:', value)
     var data = searchTable(value,myArray)
      console.log(data)
    buildTable(data)
})

$.ajax({
    method:'GET',
    url:'http://127.0.0.1:8000/person/api/person/',
    success:function(response){
        myArray = response
        buildTable(myArray)
         console.log(myArray)
    }
})

function searchTable(value, data){
    var filteredData =[]
    for (var i = 0; i < data.length; i++){
        value=value.toLowerCase()
        var name = data[i].name.toLowerCase()
        if (name.includes(value)){
            filteredData.push(data[i])
        }
    }
    return filteredData
}

function buildTable2(data){
  
var table = document.getElementById('Kandidaten')
table.innerHTML=``
//for (var i = 0; i < data.length;i++){

for (var i = 0; i < 6;i++){
      var row = `<tr> 
    <td> ${data[i].id} </td> <td> ${data[i].name} </td> 

    <td> <input type="checkbox" name="host" id="host" value="${data[i].id}" >  </td> </td>
    </tr>`
  table.innerHTML += row
}
}

</script>
{% endblock javascript %}              
{% endblock %}