
{% extends 'base.html' %}
{% block content %}
<form>
{% csrf_token %}
{% load static %}
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>
         <table class="datum-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Host</th>
                  <th>Datum</th>
                </tr>
              </thead>
                   <tbody>
                     {% for h in rooster %}
                     <tr class="active-row">
                    <td> {{h.id}} </td>
                    <td> {{h.flexhost}} </td>
                             <td><a href="{% url 'flex:vote' h.id %}">{{h.pub_date}}</a></td> 
                             {% endfor %}   
                         </tr>
                      </tbody>
     </table>
</form>
{% endblock  %}
