{% extends 'base.html' %}
{% block content %}
<form action="{% url 'flex:vote' question.id %}" method="post">
{% csrf_token %}
                <table class="person-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>AANGEMELD op {{question.pub_date}}</th>
                  <th>Bij / Af </th>
                  <th><input type="submit" value="Selecteer"> </th>
                  <th>Host J/N </th>
                </tr>
              </thead>
                 <tbody id = myTable>
                        <td>{% for aa in aanwezig %}
                            <tr>
                        </td>
                        <td>{{t.id }}</td>
                        <td>{{ forloop.counter }}. {{aa.name}}</td>
                        <td>
                        <input type="checkbox" name="afmelding" id="host{{ forloop.counter }}" value="{{ aa.id }}">
                        </td>
                        <td>
                        <td>
                        <input type="checkbox" name="hoofdhost" id="host{{ forloop.counter }}" value="{{ aa.id }}">
                        </td>
                        </td>

                        {% endfor %}
                        </tr>
                    </tbody>

                </table>
    <table class='person-table'>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Kandidaten voor {{question.pub_date}}</th>
                  <th>Bij / Af </th>
                  <th><input type="submit" value="Selecteer"> </th>
                </tr>
              </thead>

                    <tbody id = myTable>
                        <td>{% for t in kandidaten %}
                            <tr>
                        </td>
                        <td>{{t.id }}</td>
                        <td>{{ forloop.counter }}. {{t.name}}</td>
                        <td>
                        <input type="checkbox" name="aanmelding" id="host{{ forloop.counter }}" value="{{ t.id }}">
                        </td>
                        </td>

                        {% endfor %}
                        </tr>
                    </tbody>

                </table>
{% comment %} <input type="submit" value="Vote"> {% endcomment %}
{% comment %} </div>
</div>
</div> {% endcomment %}
</form>
{% endblock %}