{% extends 'base.html' %}
{% block content %}
{% load static %}
<form>
{% csrf_token %}
<div class="mobile">
<div class="phone">
<div class="phone-mirror">
<table class="beatrix-table">
  <thead>
    <tr>
      <th> <a href="/" class="fa fa-home fa-2x" ></a></th>
      {% comment %} <th> <a href="{% url 'beatrix:aanmelden' %}" class="btn btn-warning btn-sm" >Aanmelden</a></th> {% endcomment %}
      {% comment %} <th><a href="{% url 'beatrix:rooster' %}" class="fa fa-list fa-2x"  ></a></th> {% endcomment %}
      {% comment %} <th><a href="{% url 'beatrix:hoofdhost' %}" class="fa fa-user fa-2x"  ></a></th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>
 <table class="beatrix-table">
  <thead>
                <tr>
                  <th>#</th>
                  <th>Datum</th>
                  <th>Deelname</th>
                  <th>Edit</th>
                </tr>
              </thead>    
    <tbody>
        {% for cc in rooster%}
        <tr>
          <td > {{cc.id}}</td>
          <td >{{cc.pub_date}}</td>
          <td>{% for t in cc.lid.all %}{{ t.name }}<br>{% endfor %}</td>
          <td  > <a href="{% url 'beatrix:assign' cc.id %}" class="fa fa-pencil fa-lg"  ></a></td>

      {% endfor %}
        </table>
  </form>
{% endblock  %}
