{% extends 'base.html' %}
{% block content %}
<form method="post">
  
  <html>
  {% csrf_token %} 
    <head>

    </head>
    <body>
      <div class="activiteiten">
        <div id="myDIV">
          <h5>Flexactiviteiten</h5>
          {% comment %} <h1>PLOEGLEDEN</h5> {% endcomment %}
          </div>
      
    </body>
    
    {% if events %}
    <ul>
      {% for q in object_list %}
      <li><a href="{% url 'beatrix:ploeg_aanwezig' poule.id %}"> {{ q.pub_date }} {{ q.dagnaam }} {{ q.pub_time }}  {{ q.event_text }}  HOSTS:  {{ q.flexhost }}, {{ q.flexhost2 }} {{q.flexpoule}} </a></li>        
      {% endfor %}
    </ul>
{% else %}
<p>Geen activiteiten.</p>
{% endif %}
</div>
</html> 
{% endblock  %}
