{% extends 'base.html' %}
{% block content %}
<div class="mobile">
<div class="phone">
<div class="phone-mirror">
<table class="beatrix-table">
  <thead>
    <tr>
      <th> <a href="/" class="fa fa-home fa-2x" ></a></th>
      <th> <a href="{% url 'beatrix:aanmelden' %}" class="btn btn-warning btn-sm" >Aanmelden</a></th>
      {% comment %} <th><a href="{% url 'beatrix:rooster' %}" class="fa fa-list fa-2x"  ></a></th> {% endcomment %}
      <th><a href="{% url 'beatrix:hoofdhost' %}" class="fa fa-user fa-2x"  ></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>
<table class=" beatrix-table" >
    <thead>
      <tr>
        <th >#</th>
        <th >Datum</th>
        <th >Deelname</th>
        <th >Detail</th>

      </tr>
    </thead>
 
  </thead>
  
  <tbody>
    {% for pp in object_list %}
      <tr>
        {% comment %} <td > <a href="{% url 'ploeg:kaldet' pp.id 1 %}">{{pp.id}}</a> </td> {% endcomment %}
        <td><label>{{pp.pub_date}} </label></td>
          <td>{% for t in pp.lid.all %}{{ t.name }}<br>{% endfor %}</td>
          <td  > <a href="{% url 'ploeg:event_detail' pp.id %}" class="fa fa-pencil fa-lg"  ></a></td>
    
      </tr>
    {% endfor %}
      <tr>
      </tr>
  </tbody> 
                     
</table>

  </div>
</div>


{% endblock %}