<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'font_awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>{% block title %}Flexbase{% endblock %}</title>
</head>

<body>
  <thead>
    <tr>
          <a> Voordeel van vooraf aanmelden is, dat we sneller op het water zijn
          </a>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>

    <div id="content">
    {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
        {% block javascript %}
        <script src="{% static 'js/script.js' %}"></script>
        {% endblock javascript %}

    </div>
</body>
</html>