<!DOCTYPE html>
<html lang="en">
<head>
<form>
    {% load static %}
    {% comment %} {% csrf_token %}  {% endcomment %}
    <title>{% block title %}Flexibel roeien{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/beatrix.css' %}" />
    <link rel="stylesheet" href="{% static 'font_awesome/css/font-awesome.css' %}" />
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/dashy.css' %}" /> {% endcomment %}
    {% comment %} <script src="{% static 'dashy.js' %}"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% comment %} {% include 'partials/beatrix_navbar.html' %} {% endcomment %}
    {% comment %} <img src="{% static 'coby-2005_JPG.jpg' %}" alt="De Voorzitter"> <br>  {% endcomment %}
    {% comment %} logo tijdelijk wegggelaten 08-04-2021 {% endcomment %}
    <div class="container">
        <div class="col-sm l-auto">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</form>
</html>
{% comment %} https://www.w3schools.com/bootstrap/bootstrap_navbar.asp {% endcomment %}